// colors
$purple: #AD1FEA;
$dark-blue: #4661E6;
$blue-faded-dark: #373F68;
$blue-light: #F2F4FF;
$blue-lighter: #F7F8FD;
$blue-faded-darker: #3A4374;
$blue-faded: #647196;
$orange: #F49F85;
$blue: #62BCFA;

// default color
$white: #FFF;