<header>
    <a class="go-back" routerLink="''">
        <i class="pi pi-angle-left"></i>
        <span>Go back</span>
    </a>
    <button class="edit-feedback">Edit feedback</button>
</header>

<section class="feedback-review">
    <app-list-item [suggestion]="feedback()" />
</section>

<section class="feedback-comments">
    <h2>
        {{ feedback()?.comments?.length || 0 }} {{ feedback()?.comments?.length! > 1 ? 'Comments' : 'Comment' }}
    </h2>

    <div class="feedback-comments__container">
        @for (comment of feedback()?.comments; track feedback()?.id) {
            <app-comment [comment]="comment" />
        } @empty {
            <app-not-found title="No comments found" description="No comments available. Add a comment based on the review" />
        }
    </div>
</section>

<!-- add comments -->
