@use 'mixins' as *;
@use 'variables' as *;

:host {
  @include flex(row);
  gap: 1rem;
  width: 100%;
  height: fit-content;
  background-color: $white;
  border-radius: 8px;
  padding: 1.5rem;
  cursor: pointer;

  &:hover {
    h2 {
      color: $blue;
    }
  }
}

.upvotes {
  @include flex(column, flex-start, center);
  gap: 0.2rem;
  flex-basis: 40px;
  background-color: $blue-light;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 8px;
  
}

.content {
  flex: 3;
}

h2 {
  color: $blue-faded-darker;
}

.comments {
  @include flex(row);
  gap: 0.2rem;
  flex-basis: 40px;
}