@use 'mixins' as *;
@use 'variables' as *;

:host {
    width: min(200px, 90%);
    // @include flex(column);
    // gap: 2rem;
}

form {
    @include flex(column);
    gap: 1.5rem;
}

.buttons {
    @include flex(row, space-between, center);
    .inner-btns {
        @include flex(row);
        gap: 2rem;
    }
}
.delete {
    @include button4();
}
.cancel {
    @include button3();
}

.add-feedback {
    @include button1();
}