
<app-form header="Create New Feedback" svgIcon="add-feedback.svg">
    <form>
        <div class="form-control">
            <app-input-text 
            label="Feedback title"
            description="Add a short, descriptive headline"
        />

        </div>
        <div class="form-control">
            <app-input-text />

        </div>
        <div class="form-control">
            <app-input-text 
                label="Feedback Detail"
                description="Include any specific comments on what should be improved, added, etc."
            />

        </div>
        <div class="buttons">
            <button class="cancel">Cancel</button>
            <button class="add-feedback">Add feedback</button>
        </div>
    </form>
</app-form>