<header>
  <div class="container">
    <!-- suggestion -->
    <div class="item-count">
      <img src="bulb.icon.svg" alt="icon">
  
      <div>
        <p>6
          Suggestions
        </p>
        
      </div>
    </div>
    <!-- sort -->
    <div class="sort">
      <span>Sort by: </span>
      <p>Most Upvotes</p>
    </div>

  </div>

  <!-- button -->
  <button class="add-feedback">
    + Add Feedback
  </button>
</header>

<!-- suggestion lists -->
@defer (when !loading()) {
  <div class="suggestions">
    @for (suggestion of suggestions(); track suggestion.id) {
      <app-list-item 
        [routerLink]="suggestion.id.toString()"
        [suggestion]="suggestion" 
      />
    }
    @empty() {
      <app-not-found 
        title="There is no feedback yet." 
        description="Got a suggestion? Found a bug that needs to be squashed? We love hearing about new ideas to improve our app." 
        buttonLabel="+ Add feedback"
      />
    
    }
  </div>
}
@placeholder {
  <app-not-found 
    title="No feedback available yet."
  />
}
@loading {
  <p>
    Content is loading...
  </p>
}
